.app {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
}

.left-section {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  background: linear-gradient(to right, darkgrey, grey);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.left-section::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.right-section {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  background: linear-gradient(to right, grey, rgb(49, 49, 49));
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: transparent transparent;
  /* Firefox */
}

.right-section::-webkit-scrollbar {
  width: 10px;
  /* Chrome, Safari, and Opera */
}

.right-section::-webkit-scrollbar-track {
  background-color: transparent;
  /* Chrome, Safari, and Opera */
}

.right-section::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Chrome, Safari, and Opera */
  transition: background-color 0.3s ease;
}

.right-section:hover::-webkit-scrollbar-thumb {
  background-color: rgb(100, 0, 100);
  /* Show scrollbar thumb on hover */
}