* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  padding: 20px;
  /* If padding is required on the whole app */
  background: transparent;
  /* Continuous gradient */
  box-shadow: none;
  /* Ensure no box shadow */
  border: none;
  /* Ensure no borders */
}

.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.left-section,
.right-section {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.left-section::-webkit-scrollbar,
.right-section::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.right-section {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: transparent transparent;
  /* Firefox */
}

.right-section::-webkit-scrollbar {
  width: 10px;
  /* Chrome, Safari, and Opera */
}

.right-section::-webkit-scrollbar-track {
  background-color: transparent;
  /* Chrome, Safari, and Opera */
}

.right-section::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Chrome, Safari, and Opera */
  transition: background-color 0.3s ease;
  /* Transition for thumb color */
}

.right-section:hover::-webkit-scrollbar-thumb {
  background-color: rgb(100, 0, 100);
  /* Show scrollbar thumb on hover */
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    padding: 0;
  }

  .left-section,
  .right-section {
    flex: none;
    width: 100%;
    height: auto;
    overflow-y: visible;
  }

  .video-background {
    position: fixed;
    /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;
    /* Ensures the video covers the entire container */
    background-size: cover;
  }

  /* Adjust scrollbar visibility on mobile */
  .right-section::-webkit-scrollbar {
    display: none;
  }

  .right-section {
    scrollbar-width: none;
  }
}