@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Add this keyframe for fade-out animation */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.info-page {
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    background-color: transparent;
    /* Ensure background is transparent */
    border: none;
    /* No border */
    box-shadow: none;
    /* No box shadows */
}

.info-page h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333333;
}

.intro {
    font-size: 20px;
    margin-bottom: 20px;
    color: #555555;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.profession {
    font-size: 18px;
    margin-bottom: 20px;
    color: #777777;
}

.skills {
    font-size: 18px;
    margin-bottom: 30px;
    color: #444444;
}


.profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-icon {
    font-size: 20px;
    color: #007bff;
    margin-right: 10px;
}

.contact-info {
    font-size: 16px;
    color: white;
}

.info-section {
    text-align: center;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.section-content {
    font-size: 16px;
    color: white;
    text-align: left;
}

.social-icon {
    font-size: 28px;
    margin-right: 10px;
    margin-top: 20px;
}

.github-icon {
    color: white;
}

.linkedin-icon {
    color: #0A66C2;
}

.nationality {
    background: linear-gradient(90deg, blue, yellow, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.phone:hover {
    color: rgb(100, 0, 100);
    /* Replace with the desired color */
}

.mail:hover {
    color: rgb(100, 0, 100);
    /* Replace with the desired color */
}

.contact-info {
    transition: color 0.3s ease;
}

/* InfoPage.css */

.romanian-flag {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Start with opacity 0, so the flag is hidden initially */
}

.flag-visible {
    animation: fadeIn 0.5s forwards;
    /* Show the flag using fadeIn animation when it is visible */
}

.romanian-flag img {
    width: 50px;
    height: 50px;
}